@model IEnumerable<Customer_portal.Models.Soiltypetable>

@{
    ViewBag.Title = "Soil Type";
}

<h2>Soil Type list</h2>

@Html.ActionLink("Create New", "Create", new { @class = "btn btn-outline-primary" })

<style>
    body {
        background-image: url('../../images/background-2_crud.jpg');
    }
</style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoilType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Process1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Process2)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoilType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Process1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Process2)
            </td>
        </tr>
    }

</table>

<table>



    <a href="http://localhost:51766/WelcomePage.aspx">
        <button class="btn carousel">Home</button>
    </a>

</table>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <style>
            body {
                background-image: url('../../Images/background-2_crud.jpg');
            }
        </style>
    </div>
</div>