@model Customer_portal.Models.Usertable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usertable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <style>
            body {
                background-image: url('../../Images/White backgorunf_delete (2).jpg');
            }
        </style>
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</div>